.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 358px;
  gap: 20px;
}

.img {
  border-radius: 10px;
  width: 290px;
  height: 310px;
  object-fit: cover;
}

.title {
  display: flex;
  justify-content: space-between;
}

.price {
  display: flex;
  flex-direction: row;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.star {
  color: #ffc531;
  width: 16px;
  height: 16px;
}

.rating {
  display: flex;
  flex-direction: row;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  height: 24px;
  gap: 20px;
}

.review {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.text {
  font-family: "Inter", sans-serif;
  color: #475467;
  margin-top: 0;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 0;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  border-radius: 100px;
  padding: 12px 18px;
  width: 126px;
  height: 44px;
  background: #f2f4f7;
  mix-blend-mode: multiply;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  cursor: pointer;
  color: #fff;
  border-radius: 200px;
  padding: 16px 40px;
  width: 166px;
  height: 56px;
  background: #e44848;
}

.btn:hover {
  background: #d84343;
}

.heart {
  width: 25px;
  height: 24px;
}

.favHeart {
  color: #e44848;
  width: 25px;
  height: 24px;
}