.star {
  color: #ffc531;
  width: 16px;
  height: 16px;
}

.rating {
  display: flex;
  flex-direction: row;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  height: 24px;
  gap: 20px;
  padding-left: 0;
}

.review {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.gallery {
  display: flex;
  gap: 20px;
}

.img {
  border-radius: 10px;
  width: 290px;
  height: 310px;
  object-fit: cover;
}

.link {
  display: flex;
  gap: 30px;
  width: 902px;
  height: 48px;
}

.linkFeatures {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
}

.linkReviews {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
}

.line {
  stroke-width: 600px;
  stroke: rgba(16, 24, 40, 0.2);
}
