.star {
  color: #ffc531;
  width: 16px;
  height: 16px;
}

.rating {
  display: flex;
  flex-direction: row;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  height: 24px;
  gap: 20px;
  padding-left: 0;
}

.review {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.gallery {
  display: flex;
  gap: 20px;
}

.img {
  border-radius: 10px;
  width: 290px;
  height: 310px;
  object-fit: cover;
}

.btn {
  position: relative;
  padding-bottom: 24px;
  display: flex;
  gap: 40px;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: rgba(16, 24, 40, 0.2);
  width: 100%;
}

.button {
  border: none;
  padding: 0;
  background: transparent;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.infoButton:hover,
.infoButton:focus {
  background: transparent;
}

.selectedBtn::before {
  content: "";
  position: absolute;
  bottom: -26px;
  left: 0;
  height: 5px;
  background-color: #e44848;
  width: 100%;
  z-index: 2;
}
