.container {
  display: flex;
  flex-direction: row;
  gap: 20px
}

.avatar {
  border-radius: 60px;
  width: 60px;
  height: 60px;
  background: #f2f4f7;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: #e44848;
  padding-top: 15px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.username {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  color: #101828;
}

.text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}
