.header {
    z-index: 999;
    width: 100%;
    border-radius: 0 0 8px 8px;
    transition: all 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    text-align: center;
    font-size: 38px;
}