.container {
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
  padding: 24px;
  width: 448px;
  height: 532px;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
}

.text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  margin-top: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.name {
  border: none;
  border-radius: 10px;
  padding: 18px 337px 18px 18px;
  width: 400px;
  height: 56px;
  background-color: #f7f7f7;
  outline: transparent;
}

.email {
  border: none;
  border-radius: 10px;
  padding: 18px 341px 18px 18px;
  width: 400px;
  height: 56px;
  background-color: #f7f7f7;
  outline: transparent;
}

.date {
  border: none;
  border-radius: 10px;
  padding: 18px 282px 18px 18px;
  width: 400px;
  height: 56px;
  background-color: #f7f7f7;
  outline: transparent;
}

.comment {
  resize: none;
  border: none;
  border-radius: 10px;
  padding: 18px 308px 76px 18px;
  width: 400px;
  height: 114px;
  background-color: #f7f7f7;
  outline: transparent;
}

.btn {
  border-radius: 200px;
  padding: 16px 60px;
  width: 160px;
  height: 56px;
  background-color: #e44848;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  margin-top: 10px;
}
