.loadMore {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.loadMoreBtn {
  border: 1px solid rgba(71, 84, 103, 0.2);
  border-radius: 200px;
  padding: 16px 32px;
  width: 145px;
  height: 56px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.loadMoreBtn:hover {
  outline: transparent;
  border: 1px solid #e44848;
}
